.nav-bar {
  width: rem(480px);
  &__links {
    width: 100%;
  }

  li {
    &:nth-child(1) a {
      @include btn($bg: $secondary-color);
    }
    &:nth-child(2) a {
      @include btn($bg: $third-color);
    }
    &:nth-child(3) a {
      @include btn($bg: #f8cc2d);
    }
    &:nth-child(4) a {
      @include btn($bg: #fa5252);
    }

    &:hover {
      animation: spring 0.3s ease-out;
    }
  }
}
// hover animation: spring 0.3s ease-out;

@keyframes spring {
  15% {
    transform-origin: center center;
    transform: scale(1.2, 1.1);
  }
  40% {
    transform-origin: center center;
    transform: scale(0.95, 0.95);
  }
  75% {
    transform-origin: center center;
    transform: scale(1.05, 1);
  }
  100% {
    transform-origin: center center;
    transform: scale(1, 1);
  }
}
