@font-face {
  font-family: 'Roboto-Regular';
  src: url('@/styles/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('@/styles/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('@/styles/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Chewy';
  src: url('@/styles/fonts/Chewy/Chewy-Regular.ttf');
}
